@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


:root{
    --main-color: #00DA85;
    --bg-color: #F2F2F2;
    --shadow-color: #A6A6A6;
    --contrast-color:#00D9CF;


    
    /* Tamaño base: 16px */
    --fs-base: clamp(1rem, 1rem + 0.2vw, 1.1rem); /* ~16px a 17.6px */

    /* Encabezados */
    --fs-h1: clamp(2.5rem, 1.5rem + 3vw, 4rem);   /* ~40px a 64px */
    --fs-h2: clamp(2rem, 1.3rem + 2vw, 3rem);     /* ~32px a 48px */
    --fs-h3: clamp(1.5rem, 1rem + 1.5vw, 2.25rem);/* ~24px a 36px */

    /* Botones y UI */
    --fs-button: clamp(0.875rem, 0.8rem + 0.2vw, 1rem); /* ~14px a 16px */
    --fs-small: clamp(0.75rem, 0.7rem + 0.2vw, 0.875rem); /* ~12px a 14px */
    

}
/*
un gris oscuro
#626262 

cian analogo
#00D9CF

*/




.containers{
    background-color: #f3f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.principal-container{
    padding: 5rem 0;
    width: 50%;
    margin: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Navbar */
.navbar{
    color: var(--bg-color);
    background-color: var(--main-color);
}
.navbar .logo{
    width: 3rem;
    font-size: var(--fs-h2);
}

.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    position: relative;
    
}
.navbar ul li a{
    display: block;
    padding: 5px 15px;
    color: #f2f5f5;
    text-decoration: none;
    text-align: center;
    font-size: var(--fs-base);
}
.navbar ul li ul.dropdown li{
    display: block;
}

.navbar ul li ul.dropdown{
    width: 100%;
    background-color: #00DA85;
    position: absolute;
    z-index: 999;
    display: none;
}

.navbar ul a:hover{
    background-color: #00BF76;
}

.navbar ul li:hover ul.dropdown{
    display: block;
    border-radius: 10px;
}


/* End Navbar */
.container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinea al principio */
}
.cards{
    box-shadow: 0px 2px 2px 2px #A6A6A6;
    width: 300px;
    margin: 20px;
    padding: 5px;
    border-radius: 8px;

}
.card-img{   
    height: 250px;
}
.card-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content{
    width: 90%;
    margin: 0 auto;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
}
.card-content .price{
    position: absolute;
    top: 45%;
}
.card-content .button{
    
    color: white;
   background-color: #00DA85;
   position: absolute;
   bottom: 0;
   padding: 0.5rem;
   border-radius: 50px;
   width: 100%;
   margin-bottom: 0.2rem;
   text-align: center;
   transition: 0.5s background-color;
}

.card-content .button:hover{
    background-color: #00BF76;
}



/* Cart */
.empty-cart{
    text-align: center;
    margin: 20px;
}
.empty-cart h2{
    margin-bottom: 30px;
}
.empty-cart a{
    background-color: black;
    color: #f2f2f2;
    padding: 5px 20px;
}
/* end Cart */


/* Detail Productos */
.container-side-card {
   display: flex;
   border: 1px solid black;
   width: 60rem;
}

.container-side-card img{
    padding: 20px;
    width: 50%;
}

.container-side-card .content{
    padding: 20px;
}

.container-side-card .content h1{
    font-size: var(--fs-h2);
}
.container-side-card .content .price{
    margin: 20px 0;
    font-size: var(--fs-base);
}
.container-side-card .content .description{
    margin: 10px 0 40px 0;
    font-size: var(--fs-base);
}
.button-container{
    display: flex;
    flex-direction: column;
}

.button-container .button{
    width: 200px;
    color: white;
    background-color: #00DA85;
    font-size: var(--fs-button);
    transition: 1s;
}
.button-container .button:disabled{
    opacity: 0.5;
    background-color: #00BF76;
}

/* end Detail Products */


/* form */
.form-cart{
    background-color: #f2f5f5;
    text-align: center;
    width: 400px;
    margin: 100px;
    
}
.form-cart form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.form input{
    margin: 5px;
    padding: 5px;
}
.pruebas{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* end form */



.footer{
    
    background-color: var(--main-color); 
}